<!DOCTYPE html>
<html>
  <head>
    <title>{{config.podcast["title"]}}</title>
    <link rel="stylesheet" href="./public/index.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
    <meta property="og:title" content="{{config.podcast["title"]}}"></meta>
    <meta property="og:site_name" content="{{config.podcast["title"]}}"></meta>
    <meta property="og:description" content="{{config.podcast["description"]}}"></meta>
    <meta name="description" content="{{config.podcast["description"]}}"></meta>
    <meta property="og:type" content="blog"></meta>
    <meta property="og:image" content="{{config.podcast["url"]}}/public/pod.jpg">
    <meta property="og:url" content="{{config.podcast["url"]}}/public/pod.jpg"></meta>
    <meta property="theme-color" content="#edbb9a"></meta>
    <link href="{{config.podcast["url"]}}/rss" rel="alternate" type="application/rss+xml" title="{{config.podcast["title"]}}"></link>
  </head>
  <body>
    <!-- Header -->
    <div class="headerBox">
      <div class="header" style="background-image: url(/public/pod.jpg)"></div>
    </div>
    <div class="hoverHeader" overflow="hidden"></div>
    <div class="hoverHeader2" overflow="hidden"></div>
    <div class="topPage">
      <div class="topLeft">
        <img src="/public/pod.jpg" alt="Logo de {{config.podcast["title"]}}" />
      </div>
      <div class="topRight">
        <h1>{{config.podcast["title"]}}</h1>
        <p class="slogan">{{config.podcast["itunes_subtitle"]}}</p>
        <p class="description">{{config.podcast["description"]}}</p>
      </div>
    </div>

    <!-- Boutons de navigations -->
    <div class="buttonDiv">
      <a href="/rss" class="icon" style="background-color: orange;">
        <img src="/public/logo/rss.svg" alt="RSS"></img>
      </a>
    </div>

    <!-- Liste des épisodes-->
    %for ep in episodes:
      <div class="episode">
        <img src="/img/{{ep["slug"]}}" alt="Couverture de {{ep["data"]["title"]}}" />
        <div class="rightDivEp">
          <div class="divTitle">
            <h2><a href="/ep/{{ep["slug"]}}">{{ep["data"]["title"]}}</a></h2>
          </div>

          <p class="desc">{{ep["data"]["description"]}}</p>
          <p class="moreInfoEp">{{ep["data"]["duration"]}} | {{ep["modifDate"].strftime("%d/%m/%Y")}}</p>
        </div>
      </div>
    %end

    <footer>
      <p class="about">Fonctionne avec <a href="https://light.muffin.pm">Muffin Light</a></p>
    </footer>
  </body>
</html>
