@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
	padding: 0px;
	font-family: 'Lato', sans-serif;
}

.headerBox {
	z-index: -3;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
}

.header {
	z-index: -3;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	filter: blur(10px);
	transform: scale(1.1);
	height: 350px;
	width: 100%;
}

.hoverHeader2 {
	z-index: -2;
	top: 0;
	left: 0;
	right: 0;
	height: 350px;
	position: absolute;
	background-color: rgba(0,0,0,0.5);
}
.hoverHeader {
	z-index: -1;
	background-color: #FDFEFE;
	position: absolute;
	top: 290px;
	left: 0;
	right: 0;
	bottom: 0;
}

.topPage {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: row;
	width: 800px;
}

@media screen and (max-width: 490px) {
	.topPage {
		margin-left: auto;
		margin-right: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: auto;
	}
}

.topLeft > img {
	width: 250px;
	height: 250px;
	border-radius: 10px;
}

.topRight {
	margin-left: 10px;
}

@media screen and (max-width: 490px) {
	.topRight {
		background-color: #F4F6F7;
		margin-left: auto;
		margin-right: auto;
		overflow: hidden;
		margin-top: 10px;
		padding: 20px;
		border-radius: 5px;
		filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.5));
	}
}

.topRight > h1 {
	color: #FDFEFE;
	font-size: 35px;
	font-weight: bold;
	margin-bottom: 0px;
}

.slogan {
	color: #FDFEFE;
	margin-top: 0px;
	font-size: 20px;
	font-style: italic;
	text-align: justify;
}

.description {
	color: #FDFEFE;
	font-size: 20px;
	text-align: justify;
}

@media screen and (max-width: 490px) {
	.topRight > h1 {
		color: black;
		font-size: 25px;
		margin-top: 0px;
	}
	
	.slogan {
		color: black;
		margin-top: 0px;
		font-size: 15px;
	}
	
	.description {
		color: black;
		font-size: 17px;
		margin: 0px;
	}
}

/* Contenu */

.buttonDiv {
	background-color: #F4F6F7;
	width: 630px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 20px;
	border-radius: 5px;
	filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.5));
	padding: 5px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

@media screen and (max-width: 490px) {
	.buttonDiv {
		width: auto;
		overflow: hidden;
		margin-top: 10px;
		padding: 20px;
		border-radius: 5px;
		filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.5));
	}
}

/* Icons */
.icon{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	border-radius: 10px;
	padding: 10px;
	width: 25px;
	height: 25px;
	margin: 5px;
	border-radius: 5px;
}

.icon img {
	width: 100%;
	max-height: 100%;
}

.icon:hover {
	cursor: pointer;
}

/* Episodes */
.episode {
	display: flex;
	flex-direction: row;
	background-color: #F4F6F7;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	margin-top: 10px;
	padding: 20px;
	border-radius: 5px;
	filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.5));
}

.theme-black .episode {
	background-color: #34495E;
}

@media screen and (max-width: 490px) {
	.episode {
		width: auto;
	}
}

.episode > img {
	width: 100px;
	height: 100px;
	border-radius: 5px;
}

@media screen and (max-width: 490px) {
	.episode > img {
		width: 50px;
		height: 50px;
		border-radius: 5px;
	}
}

.rightDivEp {
	margin-left: 10px;
}

.divTitle {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.divTitle > h2 {
	margin: 0px;
}

.theme-black .divTitle > h2 > a {
	color: white;
}

@media screen and (max-width: 490px) {
	.divTitle > h2 {
		margin: 0px;
		font-size: 20px;
	}
}

.divTitle > img{
	display: inline;
	width: 20px;
	margin-right: 5px;
}

.divTitle > img:hover {
	cursor: pointer;
}

.divTitle > h2 > a { 
	color: black;
	text-decoration: none;
}

.divTitle > h2 > a:hover {
	text-decoration: underline;
}

.rightDivEp > .desc {
	text-align: justify;
	margin-top: 0px;
}

.theme-black .rightDivEp > .desc {
	color: white;
}

@media screen and (max-width: 490px) {
	.rightDivEp > .desc {
		display: none;
	}
}

.rightDivEp > .moreInfoEp {
	margin: 0px;
	font-size: 15px;
	color: #616A6B;
	position: relative;
	bottom: 0;
}